aioboto3==14.1.0
aiobotocore==2.21.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
ascii_colors==0.5.2
async-timeout==5.0.1
attrs==25.3.0
boto3==1.37.1
botocore==1.37.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
coloredlogs==15.0.1
configparser==7.2.0
distro==1.9.0
exceptiongroup==1.2.2
faiss-cpu==1.10.0
filelock==3.18.0
flatbuffers==25.2.10
frozenlist==1.5.0
fsspec==2025.3.0
future==1.0.0
gensim==4.3.3
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.7.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
grpcio==1.67.1
grpcio-status==1.71.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.29.3
humanfriendly==10.0
idna==3.10
inquirerpy==0.3.4
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
-e git+https://github.com/HKUDS/LightRAG.git@4daa1c966f7603b100455bb9b32ea956d8d387f0#egg=lightrag_hku
loguru==0.7.3
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.2.0
nano-vectordb==0.0.4.3
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
ollama==0.4.7
onnxruntime==1.21.0
openai==1.68.2
packaging==24.2
pandas==2.2.3
pfzy==0.3.4
pillow==11.1.0
pipmaster==0.5.1
prompt_toolkit==3.0.50
propcache==0.3.0
proto-plus==1.26.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
pymilvus==2.5.6
pymilvus.model==0.3.1
pyparsing==3.2.3
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rsa==4.9
s3transfer==0.11.3
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==3.4.1
six==1.17.0
-e git+https://github.com/SimonAytes/SoT.git@1a68340cc6a0ee8f788c37724c356333f35a90bf#egg=sketch_of_thought
smart-open==7.1.0
sniffio==1.3.1
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.67.1
transformers==4.30.0
typing_extensions==4.12.2
tzdata==2025.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
websockets==15.0.1
win32_setctime==1.2.0
wrapt==1.17.2
XlsxWriter==3.2.2
yarl==1.18.3
